.LinkButton {
  border: none;
  color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color .3s;
  padding: 0;
}

.LinkButton:hover {
  color: #40a9ff;  
  outline: 0;
  text-decoration: none;
}